" Turn on line numbering.  Turn it off with "set nonumber"
set number

" Turn on syntax colors
syntax on

" Better command-line completion
set wildmenu

" Highlight searches
set hlsearch

" Case insensitive search, except when using capital letters
set ignorecase
set smartcase

" Display the status window
set laststatus=2

" Indent automatically depending on filetype
filetype indent on
set autoindent

" Set tabs to spaces at 4 spaces
set expandtab
set tabstop=4
set shiftwidth=4

" Backspace works normally
set backspace=indent,eol,start

" Turn on column numbers
set ruler

" Show incomplete commands
set showcmd

" Enable 256 colors
set t_Co=256

" Set command window height to 2 lines
set cmdheight=2

" Last line
set showmode
set showcmd

" Backup copy to retain extended attributes
set backupcopy=yes
